.justify-content-center {
    display: flex;
    justify-content: center;
}

.align-items-center {
    display: flex;
    align-items: center;
}

.display-block {
    display: block;
}

.border-y {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.border-x {
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.margin-bottom {
    margin-bottom: 10px;
}

.gap div {
    margin-right: 10px;
}

.w-100 {
    width: 100%;
}

.fuente-programacion h3{
    font-family: 'Palatino Linotype';
}

@media screen and (max-width: 768px) {
  .margin-title {
    margin-top: 10rem !important;
  }
}